@mixin background-offset($top, $right, $bottom, $left) {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: $top;
        left: $left;
        right: $right;
        bottom: $bottom;
        z-index: -1;
    }

    // Add a hover effect that reverses the offsets
    &:hover::before {
        top: $bottom;
        left: $right;
        right: $left;
        bottom: $top;
    }
}

@mixin tile-colors($background-color, $color) {
    &::before {
        background-color: $background-color;
      }
      color: $color;

      button {
        color: $color;
        border-color: $color;
      }
}
