@use "variables" as *;

.modal {
    display: none;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        position: relative;
        max-width: 500px;
        max-height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }
    }

    &__head-ornament {
        width: 100%;
        height: 50px;

        img {
            position: absolute;
            top: 35px;

            width: 70px;
            border-radius: 50%;
            margin-left: 50%;
            transform: translateX(-50%);

            z-index: 3;
        }
    }

    &__content {
        padding: 20px;
        background-color: $color-white;

        &::before {
            content: '';
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            height: 50px;
            background-color: $color-white;
            border: 1px solid $color-black;
            border-bottom: none;
            border-radius: 50px 50px 0 0;
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 140px;
            height: 70px;
            background-color: $color-white;
            border-radius: 70px 70px 0 0;
            z-index: 0;
        }
    }

    &__border {
        padding: 30px;
        border: 1px solid $color-black;
        background-color: $color-white;
        overflow-y: auto;
    }

    &__control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        color: $color-black;
        background-color: $color-white;
        border: 1px solid $color-black;
        cursor: pointer;
        padding: 4px 10px;

        &--prev {
            left: 10px;
            padding: 2px 10px 2px 0;
        }

        &--next {
            right: 10px;
            padding: 2px 0 2px 10px;
        }
    }

    &__header {
        text-align: center;
        padding: 30px 0 0 0;
    }

    &__title {
        font-family: 'Cathedral Open';
        font-weight: normal;
        margin-top: 40px;
        margin-bottom: 30px;
        padding-left: 10px;
        font-size: 70px;
        box-sizing: border-box;
        line-height: 1;
    }

    &__close {
        background-color: $color-black;
        color: $color-white;
        border: 0;
        padding: 0;
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }

    &__text {
        padding: 0 20px;

        p {
            margin-bottom: 20px;
            line-height: 2;
        }
    }

}

// Utility classes
.hidden {
    display: none;
}

.visible {
    display: block;
}

// For mobile (smaller than 768px)
@media (max-width: $breakpoint-mobile) {
    .modal {
        &__title {
            font-size: 50px;
        }
    }
}
