$color-black: #000;
$color-white: #fff;
$color-grey: #888;
$color-lightgrey: #f0f0f0;

$color-blue: #588ef3;
$color-green: #b8ec8a;
$color-orange: #ffc869;
$color-pink: #f381e2;

$font-main: "Arial", sans-serif;
$font-heading: "Cathedral Open";

$gap: 30px;
$gap-big: 40px;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
