name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment: IONOS

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm install

      - name: Build the project
        run: npm run build
        env:
          VITE_API_URL: ${{ secrets.VITE_API_URL }}
          VITE_ADDRESS_1: ${{ secrets.VITE_ADDRESS_1 }}
          VITE_ADDRESS_2: ${{ secrets.VITE_ADDRESS_2 }}
          VITE_EMAIL: ${{ secrets.VITE_EMAIL }}

      - name: Add Known Host Key
        run: |
          echo "$KNOWN_HOST_KEY" > known_hosts
          chmod 644 known_hosts
        env:
          KNOWN_HOST_KEY: ${{ secrets.KNOWN_HOST_KEY }}

      - name: Deploy to server via SFTP
        env:
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USERNAME: ${{ secrets.SSH_USERNAME }}
          REMOTE_PATH: ${{ secrets.REMOTE_PATH }}
        run: |
          # Save the SSH private key to a file
          echo "$SSH_PRIVATE_KEY" > key.pem
          chmod 600 key.pem

          # Use rsync to copy the dist/ folder to the remote server
          rsync -avz --delete --exclude '/fonts' -e "ssh -i key.pem -o UserKnownHostsFile=known_hosts" ./dist/ $SSH_USERNAME@$SSH_HOST:$REMOTE_PATH

          # Clean up
          rm key.pem
          rm known_hosts
